.app_dark_theme {
    --bg-color: #84b5c7;
    --inverted-bg-color: #960000;
    --primary-color: #ff6404;
    --secondary-color: #2525ef;
    --inverted-primary-color: #84ff28;
    --inverted-secondary-color: #e004ce;
}
