.app.dark_theme {
    --bg-color: #201c24;
    --inverted-bg-color: #f2d7d8;
    --primary-color: #483560;
    --secondary-color: #766892;
    --inverted-primary-color: #f7e073;
    --inverted-secondary-color: #2e1a5e;

    // skeleton
    --skeleton-color: #483560;
    --skeleton-shadow: #766892;
    --code-bg: #483560;
}
