.app.green_theme {
    --bg-color: #184d2d;
    --inverted-bg-color: #f4fbf7;
    --primary-color: #163d0a;
    --secondary-color: #163d0a;
    --inverted-primary-color: #4e7449;
    --inverted-secondary-color: #b6cb62;
}
