.app.normal {
    --bg-color: #960000;
    --inverted-bg-color: #090949;
    --primary-color: #84ff28;
    --secondary-color: #e004ce;
    --inverted-primary-color: #ff6404;
    --inverted-secondary-color: #2525ef;
}
