.AddCommentForm {
    padding: 10px;
    border: 1px solid var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .input {
        flex-grow: 1;
    }
}
